@font-face {
    font-family: 'some_time_laterregular';
    src: url('some_time_later-webfont.woff2') format('woff2'),
         url('some_time_later-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 

body {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 24px;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    'header'
    'main'  
    'footer';
  height: 100vh;
}

.menu-icon {
  position: absolute;
  display: inline-block;
  top: 15px;
  margin-left: 85px;
  height: 60px;
  width: 60px;
  border-radius: 20px;
  border: 2px rgba(0, 0, 0, 0.555) solid;
  z-index: 1;
  cursor: pointer;
  transition-duration: 0.3s;
}

.menu-icon:hover { 
    transform: scale(1.2); 
    transition-duration: 0.3s;
}

#gear-icon{
  position: absolute;
  display: inline-block;
    background-position: ;
  top: 50px;
  height: 30px;
  width: 30px;
}

.wheel{
    height: 90px;
    width: 90px;
    margin-left: 75px;
    -webkit-animation: rotation 10s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(360deg);
		}
}


.header {
  background-color: black;
  background-position: 29% 55%;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  /*background-color: rgba(210, 215, 211, 1);*/
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  color: black;
}

#ul_chart_header, #ul_header_top{
    list-style: none;
}

#li_header_left{
    display: inline-block;
    margin-left: 0%;
}

#li_header_right{
    display: inline-block;
    margin-left: 7%;
}

#li_chart_header_right{
    margin-left: 16%;
}

#date_picker{
    width: 200%;
    height: 8%;
    font-size: 15px;
}

#date_picker_2{
    width: 20%;
    height: 8%;
    font-size: 15px;
}

#searching{
    font-family: 'some_time_laterregular';
    width: 200%;
    height: 8%;
}

#search_button{
    width: 80px;
    height: 40px;
    font-weight: bold;
    font-family: 'some_time_laterregular';
    font-size: 21px;
    font-size: 21px;
    margin-left: 180%;
}

#table_header{
    margin-top: 10%;
    margin-left:25px;
    height: auto;
    width:90%;
}

#ul_top, #ul_bottom, #ul_search{
    list-style: none;
}

#li_top_1, #li_top_2, #li_search_bar, #li_search_button{
    display: inline-block;
}

#li_bottom_1{
    display: inline-block;
    margin-left: 10%;
}

#li_bottom_2{
    display: inline-block;
    margin-left: 30%;
}

.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
  position: fixed;
 /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);*/
  transition-duration: 0.5s;
  background-image: url(../assets/scroll.png);
  background-position: 96% 85%;  /*96% 85%*/
}

.sidenav:hover {
    padding: 0 16px;
    width: 250px;
    transition-duration: 0.5s;
    transition-property: all;
}

.sidenav-list {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
}

.sidenav-list-item {
  padding: 20px 0px 20px 0px;
  color: black;
}

/*.sidenav-list-item:hover {
 background-color: rgba(255, 255, 255, 0.2);
  cursor: url('../assets/burger.png'), auto	
}*/

.tab{
    list-style: none;
    display: inline-block;
}

#home_icon{
    background-image: url(../assets/spritesheet2.png);
    display: inline-block;
    width: 35px;
    height: 35px;
    background-position: 250px 181px;
}

#table_icon{
    background-image: url(../assets/spritesheet2.png);
    display: inline-block;
    width: 35px;
    height: 35px;
    background-position: 83px 172px;
}

#chart_icon{
    background-image: url(../assets/spritesheet2.png);
    display: inline-block;
    width: 35px;
    height: 35px;
    background-position:425px 252px;
}

#upload_icon{
    background-image: url(../assets/spritesheet2.png);
    display: inline-block;
    width: 35px;
    height: 35px;
    background-position: 247px 250px;
}

#setting_icon{
    background-image: url(../assets/spritesheet2.png);
    display: inline-block;
    width: 35px;
    height: 35px;
    background-position: 176px 250px;
}

#final:hover{
    background-color: rgba(255, 255, 255, 0.2);
    cursor: url('../assets/burger.png'), auto;
}

#home_bar{
    background-image: url(../assets/dashboard.png);
    display: inline-block;
    width: 141px;
    height: 45px;
    background-position: 141px 0px;
}

#tables_bar{
    background-image: url(../assets/dashboard.png);
    display: inline-block;
    width: 141px;
    height: 45px;
    background-position: 141px 198px;
}

#charts_bar{
    background-image: url(../assets/dashboard.png);
    display: inline-block;
    width: 141px;
    height: 45px;
    background-position: 141px 146px;
}

#upload_bar{
    background-image: url(../assets/dashboard.png);
    display: inline-block;
    width: 141px;
    height: 45px;
    background-position: 141px 96px;
}

#settings_bar{
    background-image: url(../assets/dashboard.png);
    display: inline-block;
    width: 141px;
    height: 45px;
    background-position: 141px 45px;
}

#home{
    display: inline-block;
    font-family: 'some_time_laterregular';
}

#tables{
    display: inline-block;
    font-family: 'some_time_laterregular';
    padding-top: 2px;
}

#charts{
    display: inline-block;
    font-family: 'some_time_laterregular';
}

#upload{
    display: inline-block;
    font-family: 'some_time_laterregular';
}

#settings{
    display: inline-block;
    font-family: 'some_time_laterregular';
}

/* bg color of the main */
.main {
  grid-area: main;
  padding: 3%;
  background-image: url(../assets/back_middle.jpg);
  height: 83%;
  margin-top: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: 150px;
  background-color: #e3e4e6;
  color: slategray;
}

.footer {
  background-color: black;
  grid-area: footer;
  display: flex;
  margin-left: 5%;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  padding: 0 10px;
}

.footer-copyright{
    background-color: black;
    height: 100%;
    width: 14%;
    color: white;
    margin-left: 83%;
}

#content{
    margin-top: 10px;
}

.grid-container {
    grid-template-columns: 180px 1fr;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
  }

  .header__search {
      margin-left: 0px;
  }

  .sidenav {
    position: relative;
  }

.navigation{
  grid-area: header;
  display: flex;
  float: right;
  justify-content: space-between;
  margin-left: 80%;
  margin-bottom: 10px;
}

.logout-button{
    font-family: 'some_time_laterregular';
    color: white;
    padding: 10px;
    letter-spacing: 8px;
    position: relative;
    background-color: black;
    width:115px;
    margin-left: 70px;
}

.logout-button:hover{
    text-decoration: underline;
}

#file_cntr{
    position: relative;
    justify-content: center;
    margin-left: 28%;
    margin-top: 3%;
    width: 50%;
    height: 92%;
    /*background-color: wheat;*/
    background-image: url(../assets/scroll_l.png);
    background-size: cover;
    background-repeat: no-repeat;
    /*border: 1px solid black;
    border-radius: 10px;*/
}

#settings_cntr {
    position: relative;
    justify-content: center;
    margin-left: 28%;
    margin-top: 3%;
    width: 50%;
    height: 92%;
    background-image: url(../assets/scroll_l.png);
    background-size: cover;
    background-repeat: no-repeat;
    /*background-color: wheat;
    border: 1px solid black;
    border-radius: 10px;*/
}

#mute-button, #help-button{
    position: absolute;
    font-family: 'some_time_laterregular';
    font-size: 18px;
    margin-left: 28%;
    height: 40px;
    width: 300px;
    background-color: #77dd77;
    border: 1px solid black;
    border-radius: 10px;
    transition-duration: 0.5s;
}

#mute-button:hover, #help-button:hover{
    background-color: #63d863;
    box-shadow: 2px 2px 0.5px rgba(175, 175, 175, 0.75);
}

.button {
  float: right;
  padding: 12px;
  color: black;
  width: 25px;
  background-color: black;

}

.welcome, #file-upload-button{
    font-family: 'some_time_laterregular';
    text-align: center;
    margin-top: 25px;
    color: black;
}

.uploadfile{
    font-family: 'some_time_laterregular';
    text-align: center;
    margin-top: 35px;
    width: 80%;
    margin-left: 55px;
}

.c_settings{
    font-family: 'some_time_laterregular';
    text-align: center;
    margin-top: 65px;
    width: 80%;
    margin-left: 70px;
}
 
.b_settings{
    font-family: 'some_time_laterregular';
    text-align: center;
    margin-top: 25px;
    width: 75%;
}

.uploadfile{
    color: black;
}

#file-upload-button{
    color: black;
    margin-left: 25%;
    font-size: 18px;
}

.krusty_logo{
    position: absolute;
    display: inline-block;
    top: 15px;
    margin-left: 45%;
    height: 90px;
    width: 90px;
    border-radius: 20px;
    border: 2px rgba(0, 0, 0, 0.555) solid;
    z-index: 1;
}

.welcome1{
    font-family: 'some_time_laterregular';
    text-align: center;
    margin-top: -1%;
    color: azure;
    font-size: 80px;;
}
.no_data {
    font-family: 'some_time_laterregular';
    text-align: center;
    margin-top: 110px;
    /*color: azure;*/
    color: black;
}

.yes_data{
    font-family: 'some_time_laterregular';
    text-align: center;
}

#chart_type{
    display: inline-block;
    font-family: 'some_time_laterregular';
    text-align: center;
    height: 30px;
    width: 100px;
}

#mrkrabs_sad{
    display: block;
    align-content: center;
    height: 43%;
    width: 30%;
    margin-left: 32%;
    margin-top: 4%;
    margin-bottom: 1%;
}

#mrkrabs_money{
    display: block;
    align-content: center;
    height: 45%;
    width: 37%;
    margin-left: 30%;
}

#mrkrabs{
    display: block;
    align-content: center;
    height: 43%;
    width: 30%;
    margin-left: 34%;
    margin-bottom: 1%;
}

a:hover {
  width: 150px;
}

a:hover .logout{
  opacity: .9;
}

a {
  text-decoration: none;
}

.header input[type=text] {
  padding: 15px;
  margin-top: 9px;
  margin-right: 16px;
    width: 500px;
    height: 20px;
  font-size: 18px;
}

.header input[type=date] {
  margin-top: 9px;
  margin-left: 16px;
  font-size: 18px;
    text-align: right;
}

h4{
    padding: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    text-decoration: underline;
    margin-left: 25px;
    font-family: 'some_time_laterregular';
    font-size: 30px;
}

h5{
    margin-top: 15px;
    margin-left: 27px;
    font-family: 'some_time_laterregular';
    font-size: 24px;
}

#div_table, #div_canvas, #div_home{
    padding: 20px;
    margin-left: 5%;
    position: absolute; 
    width:75%; 
    height:70%;
    overflow-y: auto; 
}

canvas {
  display: flex;
  margin: 10px;
  height: 260;
  width: 500;
  resize: none;
}

table{
    display: table;
    border-collapse: separate;
    border-spacing: 1px;
    border-color: gray;
    color: black;
    width: 75%;
    margin-left: 10%;
}

td{
    border: 1px solid rgb(173,173,154);
    background-color: white;
    }

th{
    border: 1px solid black;
    background-color: rgb(207,207,196);
    column-span: all;
}

tr{
    white-space: nowrap;
}

table th, table td{
    padding: 5px;
    text-align: center;
}

/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:inline-block;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: rgb(174,218,237);
    box-shadow: 10px 10px 60px #555;
    border: 5px solid rgb(38,38,31);
    display: inline-block;
    height: auto;
    max-width: 558px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
}
/* Popup box BEGIN */

.inline-block{
    display: inline-block;
}

a.trigger_popup_fricc{
   text-decoration: underline;
    color: royalblue;
}

.slidecontainer {
  width: 100%; 
  margin-left: 15%;
}

.slider {   
  -webkit-appearance: none;  
  appearance: none;
  width: 70%; 
  height: 25px; 
  background: #d3d3d3; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
    border: 1px solid black;
    border-radius: 10px;
}

.slider:hover {
  opacity: 1; 
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px;
  height: 25px; 
  background: #4CAF50; 
  cursor: pointer; 
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px; 
  background: #77dd77; 
  cursor: pointer; 
}

