body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Helvetica;
    font-size: 24px;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    'header'
    'main'  
    'footer';
  height: 100vh;
}

.menu-icon {
  position: absolute;
  display: inline-block;
  top: 15px;
  margin-left: 50px;
  height: 60px;
  width: 60px;
  border-radius: 20px;
  border: 2px rgba(0, 0, 0, 0.555) solid;
  z-index: 1;
  cursor: pointer;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  background-color: rgba(210, 215, 211, 1);
    color: black;
}


.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 210px;
  position: fixed;
  overflow-y: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  background-color: lightcoral;
  transition-duration: 0.5s;
}

.sidenav:hover {
    padding: 0 16px;
    width: 220px;
    transition-duration: 0.5s;
    transition-property: all;
}

.sidenav-list {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
}

.sidenav-list-item {
  padding: 20px 20px 20px 20px;
  color: black;
}

.sidenav-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

/* bg color of the main */
.main {
  grid-area: main;
  background-color: rgba(22, 160, 133, 1);
  padding: 3%;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: 150px;
  background-color: #e3e4e6;
  color: slategray;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  padding: 0 10px;
  background-color: steelblue;
}


.grid-container {
    grid-template-columns: 180px 1fr;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
  }

  .header__search {
      margin-left: 0px;
  }

  .sidenav {
    position: relative;
  }

.navigation{
  grid-area: header;
  display: flex;
  float: right;
  justify-content: space-between;
  padding: 0px;
  margin-left: 80%;
    margin-bottom: 10px;
}

.logout-button{
    color: white;
    padding: 10px;
    letter-spacing: 3px;
    position: relative;
    background-color: black;
    width:115px;
    margin-left: 70px;
}

.button {
  float: right;
  padding: 12px;
  color: black;
  width: 25px;
  background-color: black;

}

a:hover {
  width: 150px;
}

a:hover .logout{
  opacity: .9;
}

a {
  text-decoration: none;
}

.header input[type=text] {
  padding: 15px;
  margin-top: 9px;
  margin-right: 16px;
    width: 500px;
    height: 20px;
  font-size: 18px;
}

h4{
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
    text-decoration: underline;
    margin-left: 8px;
}

#div_canvas{
    padding: 20px;
    margin-left: 30px;
    position: absolute; 
    width:700px; 
    height:400px;
}

#div_table{
    padding: 20px;
    margin-left: 30px;
    position: absolute; 
    width:700px; 
    height:400px;
}

#div_choose_file{
    padding: 20px;
    margin-left: 30px;
    position: absolute; 
    width:700px; 
    height:400px;
}
